body {
    background-color: #2a3342;
}

header {
    height: 324px;
    background: url(../assets/headerbackground.png) center/cover;
    border-color: #000000;
    border-width: 1px;
    border-style: dashed;
    margin-bottom: 92px;
    opacity: 0.50;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1264px;
    margin-top: 32px;
}

nav {
    display: contents;
}

.menu {
    color: #ffffff;
    display: flex;
    gap: 48px;
    font-size: 20px;
}

#mainname {
    width: 100px;
    height: 22px;
    margin-left: 139px;


    font-family: "Poppins";
    font-size: 19px;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}

.logo {
    width: 85px;
    height: 17px;

    font-family: "Poppins";
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}

menu {

    font-family: "Poppins";
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
}

/* .flex-container {
    display: flex;
}

.list {
    flex: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    border-right: 1px solid #ccc;
}

.list:last-child {
    border-right: none;
}

li {
    padding: 10px;
} */

#home {
    color: #5863f8;
    font-size: 20px;

}

#room {
    width: 135px;
    height: 48px;


    font-family: "Poppins";
    font-size: 42px;
    font-weight: normal;
    line-height: 56px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}

.line {
    margin-top: 103px;
    margin-left: 139px;
}

#secondname {
    font-family: "Poppins";
    font-size: 42px;
    font-weight: normal;
    line-height: 56px;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}

#secondnavigation {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    width: 37px;
    height: 17px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 55px;
    gap: 16px;
    flex-wrap: wrap;
}

.pair {
    display: flex;
    gap: 16px;
}

.box {
    width: 800px;
    height: 190px;
    background-color: #f8f8f8;

    display: flex;
    align-items: center;
}

.image-container {
    flex: 0 0 auto;
}

img {
    height: auto;

}

.text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    padding-bottom: 53px;
    padding-left: 19px;
}

.text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.text-group {
    width: 100%;
}

.box span,
.box h2,
.box h3 {
    margin: 0;
}

.box span {
    border: 1px dashed #5863f8;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: bold;
    color: #5863f8;
}

.box h2 {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: normal;
    color: #000000;
}

.box h3 {
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
    color: #b1b1b1;
}

.button-container {
    flex: 0 0 auto;
}

.badge {
    width: 72px;
    height: 17px;
    color: #5863f8;
    margin-left: 139px;
}

.boxhead {
    width: 310px;
    height: 104px;
    padding-top: 7px;
    margin-left: 139px;

    font-family: "Poppins";
    font-size: 42px;
    font-weight: normal;
    line-height: 56px;
    font-style: normal;
    text-align: left;
    color: #000000;
}


div.hr-line {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    width: 2%;
    border-right: 1px solid white;
}

.arrow-button {
    display: flex;
    color: #000000;
    background-color: #5863f8;
    height: 190px;
    width: 60px;
    padding: 10px 16px;
    transition: all .3s ease;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    font-size: 14px;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.box2 {
    width: 100%;
    height: 190px;
    background-color: #f8f8f8;
    border: 2px solid greenyellow;
    flex-wrap: wrap;
    margin-top: 71px;
    display: flex;
    gap: 16px;
    align-items: center;
}

.box2 label {
    width: 95px;
    height: 25px;


    font-family: "Poppins";
    font-size: 19px;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    color: #5863f8;
}

.box2 input {
    width: 260px;
    height: 60px;

    border-color: #ebebeb;
    border-width: 2px;
    border-style: solid;
    background: #ffffff
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 139px;
    margin-top: -45px;
}

label {
    margin-bottom: 16px;
}

input {
    width: 200px;
    padding: 8px;
}

.submit2 {
    margin-left: 16px;
}

button {
    padding: 15px 40px;
    background: #5863F8;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-family: helvetica;
    font-size: 12px;
    letter-spacing: 3px;
    position: relative;
    transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;
    display: block;
    margin: 100px auto;
}

button::after,
button::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    opacity: 0;
    transition: all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

button::after {
    width: 30px;
    height: 1px;
    background: white;
    transform: translateX(-3px);
    margin-top: 0px;
}

button::before {
    content: "";
    transform: rotate(-135deg) translateX(50%);
    width: 11px;
    height: 11px;
    background: transparent;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    margin-top: -1px;
}


button:hover {
    padding: 15px 60px 15px 20px;
}

button:hover::after,
button:hover::before {
    opacity: 1;
    right: 15px;
}

footer h1 {
    width: 139px;
    height: 28px;


    font-family: "Poppins";
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    color: #ffffff;
}

footer h2 {
    width: 260px;
    height: 83px;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    color: #b1b1b1;
}

footer h3 {
    width: 499px;
    height: 17px;


    font-family: "Poppins";
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    text-align: left;
    color: #b1b1b1;
}

footer span {
    color: #5863f8;
}

.svg-inline--fa {
    vertical-align: -0.200em;
}

.rounded-social-buttons {
    text-align: left;

}

.rounded-social-buttons .social-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border: 0.125rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
    font-size: 1.5625rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover,
.rounded-social-buttons .social-button:focus {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter,
.fa-facebook-f,
.fa-linkedin,
.fa-tiktok,
.fa-youtube,
.fa-instagram {
    font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
    background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover,
.rounded-social-buttons .social-button.facebook:focus {
    color: #3b5998;
    background: #fefefe;
    border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
    background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover,
.rounded-social-buttons .social-button.twitter:focus {
    color: #55acee;
    background: #fefefe;
    border-color: #55acee;
}

.rounded-social-buttons .social-button.youtube {
    background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover,
.rounded-social-buttons .social-button.youtube:focus {
    color: #bb0000;
    background: #fefefe;
    border-color: #bb0000;
}